# This file contains the environment variables for the project
DB_USER="root"
DB_PASSWORD="test"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="testproject"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
JWT_SECRET=429063a174cd1ca7195262c6ece522fd1d24e0846b3df78a049df41871d72528
JWT_EXPIRATION='2days'
